body {background-color:#EEEEEE;}

h {font-family:Arial; font-size:48px; font-weight:bold;}

table {
border-top:1px solid #808080; border-right:1px solid white;
border-bottom:1px solid white; border-left:1px solid #808080;
}
table.table1 {width:100%; height:100%}

td {
border-top:1px solid white; border-right:1px solid #808080;
border-bottom:1px solid #808080; border-left:1px solid white;
font-family:monospace; font-size:16px;
padding:5px 10px 5px 10px;
}
th {
border-top:1px solid white; border-right:1px solid #808080;
border-bottom:1px solid #808080; border-left:1px solid white;
font-family:monospace; font-size:16px; font-weight:bold; text-align:center;
padding:5px 10px 5px 10px; background-color:#4E4E7F; color:#FFFFFF;
}

th.separator {padding:3px 10px 3px 10px;}

br {font-family:monospace; font-size:16px;}
li {font-family:monospace; font-size:16px; margin-left:15px;}
p {font-family:monospace; font-size:16px; margin:5px 5px 20px 15px;}

span.chapter {font-family:monospace; font-size:20px; font-weight:bold;}
span.console {background-color:black; color:white;}
span.error {background-color:#FEE46E; color:#CE0F25;}

code {background-color:#D4D0C8;}
textarea {background-color:#D4D0C8; font-family:monospace; font-size:16px; border:none;}

select {font-family:Arial; font-size:13px; width:250px;}

a {color:blue; font-weight:bold; text-decoration:none;}
a:visited {color:#8080FF;}
a:hover {color:red;}

img {display: block; margin-left:auto; margin-right:auto;}
